global 
    maxconn 100 
        defaults 
            log     global 
            mode    tcp 
            retries 2 
            timeout client 30m 
            timeout connect 4s 
            timeout server 30m 
            timeout check 5s 

        listen stats
            mode http
            bind *:32700
            stats enable
            stats uri /

        frontend ft_postgresql
            bind *:5432
            mode tcp
            default_backend bk_db

        backend bk_db
            option httpchk
            mode tcp
            server {{ patroni_1 }} {{ patroni_1 }}:5432 maxconn 100 check port 8008
            server {{ patroni_2 }} {{ patroni_2 }}:5432 maxconn 100 check port 8008
            server {{ patroni_3 }} {{ patroni_3 }}:5432 maxconn 100 check port 8008
