# For etcd_1 server

# human-readable name for this member.
{% if ansible_nodename == "etcd-1" -%}
name: 'rebrain-etcd-node-01'
{% elif ansible_nodename == "etcd-2" -%}
name: 'rebrain-etcd-node-02'
{% else %}
name: 'rebrain-etcd-node-03'
{% endif %} 
# path to the data directory.
data-dir: {{ data_dir }}

# path to the dedicated wal directory.
wal-dir: {{ wal_dir }}

# number of committed transactions to trigger a snapshot to disk.
snapshot-count: 10000

# time (in milliseconds) of a heartbeat interval.
heartbeat-interval: 100

# time (in milliseconds) for an election to timeout.
election-timeout: 1000

# raise alarms when backend size exceeds the given quota. 0 means use the
# default quota.
quota-backend-bytes: 0

# list of comma separated urls to listen on for peer traffic.
listen-peer-urls: http://{{ ansible_eth0.ipv4.address }}:2380,http://127.0.0.1:2380

# list of comma separated urls to listen on for client traffic.
listen-client-urls: http://{{ ansible_eth0.ipv4.address }}:2379,http://127.0.0.1:2379

# maximum number of snapshot files to retain (0 is unlimited).
max-snapshots: 5

# maximum number of wal files to retain (0 is unlimited).
max-wals: 5

# comma-separated white list of origins for cors (cross-origin resource sharing).
cors:

# list of this member's peer urls to advertise to the rest of the cluster.
# the urls needed to be a comma-separated list.
initial-advertise-peer-urls: http://{{ ansible_eth0.ipv4.address }}:2380
# list of this member's client urls to advertise to the public.
# the urls needed to be a comma-separated list.
advertise-client-urls: http://{{ ansible_eth0.ipv4.address }}:2379

# discovery url used to bootstrap the cluster.
discovery:

# valid values include 'exit', 'proxy'
discovery-fallback: 'proxy'

# http proxy to use for traffic to discovery service.
discovery-proxy:

# dns domain used to bootstrap initial cluster.
discovery-srv:

initial-cluster: 'rebrain-etcd-node-01=http://{{ hostvars[groups['etcd'][0]]['ansible_eth0']['ipv4']['address'] }}:2380,rebrain-etcd-node-02=http://{{ hostvars[groups['etcd'][1]]['ansible_eth0']['ipv4']['address'] }}:2380,rebrain-etcd-node-03=http://{{ hostvars[groups['etcd'][2]]['ansible_eth0']['ipv4']['address'] }}:2380'

# initial cluster token for the etcd cluster during bootstrap.
initial-cluster-token: 'etcd-cluster-rebrain-token'

# initial cluster state ('new' or 'existing').
initial-cluster-state: 'new'

# reject reconfiguration requests that would cause quorum loss.
strict-reconfig-check: false

# accept etcd v2 client requests
enable-v2: true

# enable runtime profiling data via http server
enable-pprof: true

# valid values include 'on', 'readonly', 'off'
proxy: 'off'

# time (in milliseconds) an endpoint will be held in a failed state.
proxy-failure-wait: 5000

# time (in milliseconds) of the endpoints refresh interval.
proxy-refresh-interval: 30000

# time (in milliseconds) for a dial to timeout.
proxy-dial-timeout: 1000

# time (in milliseconds) for a write to timeout.
proxy-write-timeout: 5000

# time (in milliseconds) for a read to timeout.
proxy-read-timeout: 0

client-transport-security:
  # path to the client server tls cert file.
  cert-file:

  # path to the client server tls key file.
  key-file:

  # enable client cert authentication.
  client-cert-auth: false

  # path to the client server tls trusted ca cert file.
  trusted-ca-file:

  # client tls using generated certificates
  auto-tls: false

peer-transport-security:
  # path to the peer server tls cert file.
  cert-file:

  # path to the peer server tls key file.
  key-file:

  # enable peer client cert authentication.
  client-cert-auth: false

  # path to the peer server tls trusted ca cert file.
  trusted-ca-file:

  # peer tls using generated certificates.
  auto-tls: false

# enable debug-level logging for etcd.
debug: false

logger: zap

# specify 'stdout' or 'stderr' to skip journald logging even when running under systemd.
log-outputs: [stderr]

# force to create a new one member cluster.
force-new-cluster: false

auto-compaction-mode: periodic

auto-compaction-retention: "1"
