scope: rebrain # должно быть одинаковым на всех нодах
namespace: /rebrain-cluster/ # должно быть одинаковым на всех нодах
{% if ansible_nodename == "patroni-1" -%}
name: rebrain-postgres-node-1 # должно быть разным на всех нодах
{% elif ansible_nodename == "patroni-2" -%}
name: rebrain-postgres-node-2
{% else %}
name: 'rebrain-postgres-node-03'
{% endif %}

restapi:
  listen: {{ ansible_eth0.ipv4.address }}:8008 # адрес той ноды, в которой находится этот файл
  connect_address: {{ ansible_eth0.ipv4.address }}:8008 # адрес той ноды, в которой находится этот файл

etcd:
  hosts: {{ etcd_1 }}:2379,{{ etcd_2 }}:2379,{{ etcd_3 }}:2379

# this section (bootstrap) will be written into Etcd:/<namespace>/<scope>/config after initializing new cluster
# and all other cluster members will use it as a `global configuration`
bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true
      use_slots: true
      parameters:
      wal_level: replica
      hot_standby: "on"
      max_wal_senders: 5
      max_replication_slots: 5
      wal_log_hints: "on"
      archive_mode: "on"
      archive_timeout: 600s
      archive_command: "cp -f %p /task13/patroni/pg_archived/%f"
      recovery_conf:
        restore_command: "cp -f /task13/patroni/pg_archived/%f %p"
  initdb:
  - encoding: UTF8
  - data-checksums
  - locale: en_US.UTF8
  # init pg_hba.conf должен содержать адреса ВСЕХ машин, используемых в кластере
  pg_hba:
  - host replication replicator ::1/128 md5
  - host replication replicator 127.0.0.1/8 md5
  - host replication replicator {{ hostvars[groups['patroni'][0]]['ansible_eth0']['ipv4']['address'] }}/24 md5
  - host replication replicator {{ hostvars[groups['patroni'][1]]['ansible_eth0']['ipv4']['address'] }}/24 md5
  - host replication replicator {{ hostvars[groups['patroni'][2]]['ansible_eth0']['ipv4']['address'] }}/24 md5
  - host all root 0.0.0.0/0 md5
  users:
    rebrain_admin:
      password: {{ rebrain_admin_password }}
      options:
      - createrole
      - createdb
postgresql:
  listen: {{ ansible_eth0.ipv4.address }}:5432 # адрес той ноды, в которой находится этот файл
  connect_address: {{ ansible_eth0.ipv4.address }}:5432 # адрес той ноды, в которой находится этот файл
  data_dir: {{ data_dir }} # эту директорию создаст скрипт, описанный выше и установит нужные права
  bin_dir:  {{ bin_dir }} # укажите путь до вашей директории с postgresql
  pgpass: {{ pgpass }}
  authentication:
    replication:
      username: replicator
      password: {{ replication_password }}
    superuser:
      username: root
      password: {{ superuser_password }}
  create_replica_methods:
    basebackup:
      checkpoint: 'fast'
  parameters:
    unix_socket_directories: '/var/run/postgresql'
    external_pid_file: '/var/run/postgresql/13-main.pid'
  logging_collector: "on"
  log_directory: "/var/log/postgresql"
  log_filename: "postgresql-13-main.log"
